{
  "semi": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none"
}
